#nav-bar {
  color: #e8fdff;
  background-color: #00a087;
  height: 85px;
  padding-left: 2em;
  position: relative;
}

#nav-bar > img {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar > .header {
  font-size: 2em;
  float: left;
  line-height: 100px;
  padding-left: 10px;
}

#counter{
  position: relative;
  top: 76px;
  left: 55px;
}

#toggle-newTweet-view{
  width: 15em;
  position: absolute;
  height: 4em;
  top: 11px;
  right: 10px;
  border-radius: 15px;
}

#toggle-newTweet-view:hover {
  width: 15.2em;
  height: 4.2em;
  top: 10px;
  right: 9px;
  font-weight: bold;
}