.new-tweet {
  text-align: center;
  height: 200px;
  background-color: #ccffcc;
  border-radius: 20px;
  box-shadow: 9px 8px 12px 0px #888888;
  position: relative;
  margin: 30px;
  margin-top: 20px;
  display: block; 
}

.new-tweet:hover{
  box-shadow: 20px 18px 12px 0px #888888;
}

.new-tweet h2 {
    top: 10px;
    position: relative;
}


.new-tweet textarea {
  position: relative;
  top: 9px;
  height: 6em;
  width: 52em;
  border-radius: 2px;
}

.new-tweet input {
  height: 6em;
  width: 6em;
  position: relative;
  top: -33px;
  border-radius: 5px;
}

.new-tweet input:hover {
  background-color: yellow;
}

#counter{
  top: 36px;
  left: 65px;
}


.hidden {
  display: none;
}